{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}


<div style="display: grid; grid-template-columns: 1.5fr 1fr;" class="container-fluid mt-5" >
    <img class="img-fluid" width="700px" src="{% static 'images/trabajadores.jpg' %}" alt="">
    <div>
        <h1>
            EMPRESA DE YURY
        </h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nam ex eius, voluptas velit ipsam quo quos voluptatibus nostrum rerum, commodi cupiditate ad doloribus accusantium dolorem? Quibusdam dicta obcaecati minima.
        Doloremque modi veritatis dolorem ad vitae perspiciatis adipisci reprehenderit, quia reiciendis, ut molestias corporis illo aperiam in tempore! Accusamus labore iusto corrupti officiis nostrum accusantium provident error quisquam dolor neque!
        Ut error quasi ea quae explicabo aliquam! Odit labore in optio blanditiis eos dolorum totam quos soluta aut esse nostrum voluptas, sit, asperiores consequatur a fugit repudiandae commodi mollitia porro?
        Quod consectetur ipsa cum! Fuga obcaecati vitae maxime sapiente dolor rem eveniet deserunt dolore, ratione voluptatum praesentium quo maiores molestiae autem, nisi ullam quasi vero, quos adipisci error sunt sit?
        Suscipit nisi cum, voluptate ut nulla possimus ab cumque, recusandae velit molestiae fuga aspernatur neque earum quidem dolorem, provident obcaecati. Quis consectetur optio fugiat doloremque perferendis eos in odio molestias!</p>
    </div>
</div>

{% endblock %}