{% extends 'base.html' %}

{% block title %}Tabla trabajadores{% endblock %}

{% block content %}
<style>
    .no-button{
        background: none;
        border: none;
        color: white;
        padding: 0;
    }
</style>
<h1>Tabla trabajadores</h1>
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}



<section style="display: flex; justify-content: space-between; align-items: center; position: relative;" class="mb-2">
    <p style="margin: 0;">Mostrando {{ page_obj.end_index }} de {{ page_obj.paginator.count }} trabajadores.</p>
    <div style="display: flex; width: 70%; justify-content: end; gap: 10px;">
        <form class="d-flex" style="width: 100%;" role="search" method="get">
            <input class="form-control me-2" value="{{ query }}" type="search" name="search" placeholder="Buscar"
                aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
      <p style="margin: 0;">
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Filtrar
        </button>
      </p>
      <div class="collapse collapse-horizontal mb-3" id="collapseExample" style="position: absolute; right: 0; top: 45px;">
    <div class="card card-body" style="width: fit-content;">
        <div style="display: grid; grid-template-columns: 100px 100px; width: fit-content; gap: 5px;">

            <form method="get" role="order">
                <input type="hidden" name="order" value="persona_fk__rut">
                <button class="btn btn-primary btn-sm">RUT<i class="bi bi-arrow-up"></i> </button>

            </form>
            <form role="order" method="get">
                <input type="hidden" name="order" value="-persona_fk__rut">
                <button class="btn btn-primary btn-sm">RUT<i class="bi bi-arrow-down"></i></button>
            </form>

            <form method="get" role="order">
                <input type="hidden" name="order" value="persona_fk__nombres">
                <button class="btn btn-primary btn-sm">Nombres<i class="bi bi-arrow-up"></i></button>
            </form>

            <form method="get" role="order">
                <input type="hidden" name="order" value="-persona_fk__nombres">
                <button class="btn btn-primary btn-sm">Nombres <i class="bi bi-arrow-down"></i></button>
            </form>
            <form method="get" role="order">

                <input type="hidden" name="order" value="persona_fk__apellido_paterno">
                <button class="btn btn-primary btn-sm">Apellidos<i class="bi bi-arrow-up"></i></button>

            </form>
            <form method="get" role="order">

                <input type="hidden" name="order" value="-persona_fk__apellido_paterno">
                <button class="btn btn-primary btn-sm">Apellidos<i class="bi bi-arrow-down"></i></button>

            </form>
            <form method="get" role="order">

                <input type="hidden" name="order" value="persona_fk__sexo">
                <button class="btn btn-primary btn-sm">Sexo<i class="bi bi-arrow-up"></i></button>

            </form>
            <form method="get" role="order">

                <input type="hidden" name="order" value="-persona_fk__sexo">
                <button class="btn btn-primary btn-sm">Sexo<i class="bi bi-arrow-down"></i></button>

            </form>
            <form method="get" role="order">

                <input type="hidden" name="order" value="cargo_fk__nombre_cargo">
                <button class="btn btn-primary btn-sm">Cargo<i class="bi bi-arrow-up"></i></button>

            </form>
            <form method="get" role="order">

                <input type="hidden" name="order" value="-cargo_fk__nombre_cargo">
                <button class="btn btn-primary btn-sm">Cargo<i class="bi bi-arrow-down"></i></button>

            </form>

        </div>
    </div>
</div>
</section>



<div class="table-responsive">
<table class="table">
    <thead class="table-dark">
        <tr>
          
                <th style="border-radius: 7px 0px 0px 0px;">
                    R.U.T
                </th>
          
                <th>
                    Nombres
                </th>
          
                <th>
                    Apellidos
                </th>
          
                <th>
                    Sexo
                </th>
          
                <th>
                    Cargo
                </th>
            {% if request.user.trabajador.cargo_fk.nombre_cargo == 'Jefe RR.HH' or request.user.is_superuser == 1 %}
            <th style="border-radius: 0px 7px 0px 0px;">
                Acción
            </th>
            {% endif %}
        </tr>
    </thead>
    
    {% for trabajador in page_obj %}
    <tbody>
        <tr>
            <th scope="row">{{trabajador.persona_fk.rut}}</th>
            <td>{{trabajador.persona_fk.nombres}}</td>
            <td>{{trabajador.persona_fk.apellido_paterno}} {{trabajador.persona_fk.apellido_materno}}</td>
            <td>{{trabajador.persona_fk.sexo}}</td>
            <td>{{trabajador.cargo_fk.nombre_cargo}}</td>
            {% if request.user.trabajador.cargo_fk.nombre_cargo == 'Jefe RR.HH' or request.user.is_superuser == 1 %}
            <td>
                <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{trabajador.id}}">Eliminar</a>
            </td>
            {% endif %}

        </tr>
    </tbody>
    <div class="modal" id="modal{{trabajador.id}}" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Advertencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Está seguro de  eliminar al trabajador {{trabajador.persona_fk.nombres}} {{trabajador.persona_fk.apellido_paterno}}?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a type="a" class="btn btn-danger" href="{% url 'panel:eliminar' trabajador.id %}">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
        {% endif %}
    </span>
</div>






{% endblock %}