{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container mt-5 pseudofondo" style="display: flex; justify-content: center; flex-direction: column; max-width: 500px; border-radius: 10px;padding: 30px;">
        <h2>Ingresar</h2>
        <form method="post" style="display: flex; flex-direction: column; gap: 25px; margin-top: 20px;">
            {% csrf_token %}
            <div class="form-group">
                <label class="mb-1">RUT</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="mb-1">Contraseña</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show mt-3" style="font-size: 13px;" role="alert" >
            {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        
        {% endif %}
    
            <button type="submit"  class="btn btn-primary mt-2">Iniciar Sesión</button>
        
        </form>


</div>
{% endblock %}